body {
    margin: 0; 
}

#back {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;   
  }

#title {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 30%;   
  }
  
